.conteudo-7 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 120px;
  gap: 150px;
}

.conteudo-7 h2 {
  color: #009688;
  font-size: 47px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;
}

.conteudo-7 p {
  font-size: 20px;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

.conteudo-9 {
  background: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conteudo-9 h3 {
  font-size: 30px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #ff4081;
  padding-top: 20px;
}

.paragrafo {
  margin-bottom: 100px;
}

.retangulo {
  width: 450px;
  height: 193px;
  left: 128px;
  top: 2467px;
}

/* Abaixo de 800 px */
@media (max-width: 800px) {
  header {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 0 auto;
    padding: 40px;
  }

  nav li {
    margin: -10px;
  }

  .conteudo-7 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
  }

  .conteudo-7 img {
    display: none;
  }

  .conteudo-9 {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .rodape {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .rodape ul {
    display: none;
  }

  .rodape span {
    display: flex;
    font-size: medium;
  }

  .bloco-1 {
    justify-content: center;
    align-items: center;
  }
  .rodape img {
    width: 300px;
  }

  body,
  html {
    overflow-x: hidden !important;
  }
}

/* Abaixo de 565px */
@media (max-width: 565px) {
  header img {
    margin: -5px;
  }
  nav li {
    margin: 5px;
  }

  .conteudo-7 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
  }

  .conteudo-7 img {
    display: none;
  }

  .conteudo-9 {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .retangulo {
    width: 200px;
  }

  .bloco h3 {
    width: 300px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }
  .bloco p {
    font-size: 15px;
    font-weight: 400;
    width: 200px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }

  .rodape {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .rodape ul {
    display: none;
  }

  .rodape span {
    display: flex;
    font-size: medium;
  }

  .bloco-1 {
    justify-content: center;
    align-items: center;
  }
  .rodape img {
    width: 300px;
  }

  body,
  html {
    overflow-x: hidden !important;
  }
}

@media (max-width: 1024px) {
  body,
  html {
    overflow-x: hidden !important;
  }

  .conteudo-9 {
    display: grid;
    justify-content: center;
    align-items: center;
  }
}
