.forms-inside {
  padding: 60px;
  margin: 30px;
}

.forms-inside h1 {
  color: #ff4081;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
}
.formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 90px;
  margin-left: 90px;
  justify-content: center;
  align-items: center;
}

#nome,
#email {
  font-size: 15px;
  border: 1px solid #686868;
  margin-bottom: 23px;
  border-radius: 7px;
  height: 32px;
  width: 493px;
  left: 3px;
  top: 90px;
  border-radius: 7px;
  font-family: "Ubuntu", sans-serif;
}

#mensagem {
  border: 1px solid #686868;
  margin-bottom: 23px;
  border-radius: 7px;
  height: 193px;
  width: 493px;
  left: 3px;
  top: 183px;
  border-radius: 7px;
  font-size: 15px;
  font-family: "Ubuntu", sans-serif;
}

.botao-6 {
  background: #ff4081;
  height: 32px;
  width: 108px;
  left: 3px;
  top: 391px;
  border-radius: 50px;
  padding: 10px 30px;
  color: #ffffff;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}

/* Abaixo de 800 px */
@media (max-width: 800px) {
  header {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  header img {
    margin: 20px;
  }

  nav ul {
    display: flex;
    padding-left: 40px;
  }

  nav li {
    margin: 0px;
  }

  .formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-right: 100px;
  }

  .forms-inside h1 {
    font-size: 50px;
  }
  .formulario img {
    display: none;
  }

  #nome,
  #email {
    width: 320px;
  }

  #mensagem {
    width: 320px;
  }

  .botao-4 {
    display: grid;
    font-size: medium;
    padding: 12px;
  }

  .rodape img {
    width: 350px;
    margin-left: -20px;
  }
}

/* Abaixo de 565px */
@media (max-width: 565px) {
  nav li {
    display: flex;
    flex-wrap: nowrap;
    margin: 10px;
    justify-content: center;
    align-items: center;
  }

  nav ul li a {
    font-size: 18px;
  }

  .forms-inside h1 {
    font-size: 40px;
  }
  .formulario img {
    display: none;
  }

  #nome,
  #email {
    width: 320px;
  }

  #mensagem {
    width: 320px;
  }

  .rodape span {
    display: contents;
  }
  .rodape ul {
    display: none;
  }
}

@media (max-width: 450px) {
  body,
  html {
    overflow-x: hidden !important;
  }
}

@media (max-width: 1024px) {
  .formulario img {
    display: none;
  }
}
