body {
  font-family: "Ubuntu", sans-serif;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  max-width: 1920px;
}

h1,
h2,
h3,
p {
  margin-top: 0px;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background: #2e948a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
  box-shadow: 0px 4px 4px rgba(108, 102, 102, 0.371);
}

.logo-header {
  margin-left: 103px;
}
nav ul li a {
  font-size: 20px;
  line-height: 23px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  padding: 20px;
}
nav ul {
  display: flex;
  flex-wrap: nowrap;
  gap: 37px;
  list-style: none;
  padding: 20px;
  margin-right: 103px;
}

.sessao-1 {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin-left: 300px;
  padding: 90px;
  gap: 150px;
  background: #ffff;
}

.sessao-1 h1 {
  font-family: Ubuntu;
  font-size: 60px;
  font-weight: 700;
  line-height: 69px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 64, 129, 1);
}

.sessao-1 p {
  font-family: Ubuntu;
  font-size: 27px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(85, 85, 85, 1);
  padding: 10px;
}

.botao-1 {
  height: 51px;
  width: 268px;
  left: 207px;
  top: 577px;
  border-radius: 62px;
  border: 2px solid rgba(255, 64, 129, 1);
  font-size: 27px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
  align-self: center;
  color: rgba(255, 64, 129, 1);
  padding: 10px 30px;
}

.sessao-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 109px;
  background: rgba(246, 246, 246, 1);
  gap: 121px;
}

.sessao-2 h3 {
  font-size: 25px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  margin: 10px;
  color: rgba(255, 64, 129, 1);
}

.sessao-2 p {
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  padding-bottom: 30px;
  color: rgba(0, 0, 0, 1);
}

.botao-2 {
  width: 233px;
  height: 51px;
  left: 184px;
  top: 1391px;
  background: #ff4081;
  border-radius: 62px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  padding: 15px 40px;
  color: #ffffff;
  margin: 70px;
}

.sessao-3 {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.titulo-1 {
  font-family: Nunito, sans-serif;
  font-size: 37px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 150, 136, 1);
  padding: 40px;
}

.conteudo-3 {
  display: flex;
  margin: 50px;
  gap: 70px;
}

.texto-1 {
  gap: 50px;
}

.sessao-4 {
  padding: 140px;
  background: rgba(246, 246, 246, 1);
  gap: 121px;
}

.titulo-2 {
  color: #009688;
  font-size: 37px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
  display: flex;
  justify-content: center;
}

.retangulo {
  width: 319px;
  height: 193px;
  left: 128px;
  top: 2467px;
  background: #c4c4c4;
  margin-top: 70px;
}

.conteudo-4 h3 {
  color: #009688;
  width: 400;
  font-size: 27px;
  line-height: 31.02px;
  margin-right: 20px;
}

.conteudo-4 p {
  width: 400;
  font-size: 18px;
  line-height: 20.68px;
}

.conteudo-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.botao-3 {
  border-radius: 62px;
  border: 2px solid rgba(255, 64, 129, 1);
  font-size: 27px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 64, 129, 1);
  padding: 10px 40px;
  top: 30px;
  right: -700px;
  position: relative;
}

a {
  text-decoration: none;
}

.bloco {
  margin-left: 90px;
}

.rodape {
  background: #419488;
  display: flex;
  justify-content: space-around;
  padding: 40px;
}

.logo-footer {
  margin-top: 20px;
}
.rodape ul a {
  text-decoration: none;
  list-style: none;
  color: #ffffff;
  font-family: Ubuntu;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.rodape li {
  padding: 5px;
}

.botao-4 {
  border-radius: 62px;
  border: 2px solid #ffffff;
  font-size: 27px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  padding: 15px 40px;
}

.bloco-1 {
  display: grid;
  gap: 20px;
}

@media (max-width: 2000px) {
  .botao-2 {
    display:flex;
    font-size: 23px;
    padding: 0.1ch;
    align-items: center;
    justify-content: center;
  }
  .botao-3 {
    position: relative;
    margin-left: -230px;
  }

}
@media (max-width: 1024px) {
  .sessao-1 {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .sessao-1 img {
    height: 50px;
  }
  .conteudo-1 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .conteudo-1 h1 {
    font-size: 60px;
    width: 500px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }

  .conteudo-1 p {
    font-size: 30px;
  }

  .botao-1 {
    text-align: center;
    padding: 3px 15px;
    color: #ff4081;
  }

  .sessao-2 {
    display: grid;
  }

  .sessao-3 {
    display: flexbox;
    padding: 40px;
  }

  .conteudo-4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }
  .botao-3 {
    position: relative;
    margin-left: -650px;
  }
}
body,
html {
  overflow-x: hidden !important;
}

@media (max-width: 800px) {
  header {
    display: flex;
  }

  .logo-header {
    display: flex;
    margin: 0 auto;
  }
  nav ul {
    margin: 0 auto;
    gap: 40px;
  }

  nav li a {
    margin: -30px;
    padding: 10px;
  }

  nav ul li a {
    font-size: 18px;
  }

  .botao-1 {
    padding: 0px;
  }
  .sessao-3 {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .conteudo-3 {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }

  .conteudo-3 img {
    width: 150px;
  }

  .conteudo-4 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .titulo-2 {
    display: flex;
    width: max-content;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }

  .botao-3 {
    font-size: 25px;
  }

  .botao-4 {
    font-size: 15px;
    padding: 10px;
  }
  .rodape ul {
    display: none;
  }
  body,
  html {
    overflow-x: hidden !important;
  }
}

@media (max-width: 565px) {
  header {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .conteudo-1 {
    display: grid;
    grid-template-columns: 2fr;
  }

  .conteudo-1 h1 {
    width: 480px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    font-size: 40px;
  }

  .conteudo-1 p {
    font-size: 20px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    
  }

  .botao-1 {
    display: grid;
    font-size: 20px;
    padding: 0.1ch;
    align-items: center;
    
  }

  .sessao-2 {
    display: grid;
  }
  .conteudo-2 img {
    display: none;
  }

  .conteudo-2 {
    margin: -30px;
  }

  .botao-2 {
    display:grid;
    font-size: 15px;
    padding: 0.2ch;
    align-items: center;
    margin: -5px;
  }

  .conteudo-3 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .sessao-4 {
    display: flex;
    flex-direction: column;

  }
  .titulo-2 {
    display: grid;
    font-size: 20px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    margin-left: -90px;
  }

  .retangulo {
    width: 200px;
    
  }
  .conteudo-4 {
    display: grid;
    grid-template-columns: 2fr;
   margin: -150px;
  }

  .conteudo-4 h3 {
    font-size: 25px;
  }
  .conteudo-4 p {
    font-size: 15px;
  }
  .botao-3 {
    display: none;
  }

  .rodape {
    display: grid;
    gap: 20px;
  }

  .rodape img {
    width: 250px;
  }

.rodape span {
  padding: 0.2ch;
}
}
